- load url from future
- load i18n

.well.sidebar-nav.affix
  %ul.nav.nav-list
    %li.nav-header
      {% trans 'timeline' %}
    %li
      %a{'href':"{% url 'loggit_timeline_index' %}"}
        {% trans 'timeline' %}

    %li.nav-header
      {% trans 'discovery domain' %}
    %li
      %a{'href':"{% url 'loggit_newdomain_index' %}"}
        {% trans 'newdomain' %}

    %li.nav-header
      {% trans 'top100' %}
    %li
      %a{'href':"{% url 'loggit_domain_index' %}"}
        {% trans 'top100 total' %}

    %li.nav-header
      {% trans 'import ip' %}
    %li
      %a{'href':"{% url 'loggit_ip_index' %}"} 
        {% trans 'import ip' %}

    %li.nav-header
      {% trans 'leadingin domain' %}
    %li
      %a{'href':"{% url 'loggit_leadingin_index' %}"} 
        {% trans 'leadingin domain' %}

    %li.nav-header
      {% trans 'no speed' %}
    %li
      %a{'href':"{% url 'loggit_non80_index' %}"} 
        {% trans 'no speed' %}

