- extends 'loggit/body.haml'

- load url from future
- load i18n
- load compress

- block main

  - block mheader
    %script{'src':'={ STATIC_URL }highcharts.js'}
    .loading
    .here{'style':'bottom:1px; position:fixed; right:10px;'}
      %p
        %span#total.badge.badge-info 0
        %span#count.badge.badge-success 0
    %p
      %a{'href':"{% url 'loggit_domain_namelist_index' %}?namelist=B"}
        %span#blist.badge.badge-inverse{'style':'position:fixed; right:10px; top:120px; width:30px;'} black
      %a{'href':"{% url 'loggit_domain_namelist_index' %}?namelist=W"}
        %span#count.badge.badge-warning{'style':'position:fixed; right:10px; top:145px;width:30px;'} white
      %a{'href':"{% url 'loggit_domain_namelist_index' %}?namelist=G"}
        %span#count.badge{'style':'position:fixed; right:10px; top:170px;width:30px;'} grap
      %a{'href':"{% url 'loggit_domain_namelist_index' %}?namelist=-"}
        %span#count.badge.badge-success{'style':'position:fixed; right:10px; top:195px;width:30px;'} blank
      %a{'href':"{% url 'loggit_domain_namelistpercent_index' %}?namelist=B"}
        %span#blist.badge.badge-inverse{'style':'position:fixed; right:10px; top:250px; width:75px;'} black percent
      %a{'href':"{% url 'loggit_domain_namelistpercent_index' %}?namelist=W"}
        %span#count.badge.badge-warning{'style':'position:fixed; right:10px; top:275px;width:75px;'} white percent
      %a{'href':"{% url 'loggit_domain_namelistpercent_index' %}?namelist=G"}
        %span#count.badge{'style':'position:fixed; right:10px; top:300px;width:75px;'} grap percent
      %a{'href':"{% url 'loggit_domain_namelistpercent_index' %}?namelist=-"}
        %span#count.badge.badge-success{'style':'position:fixed; right:10px; top:325px;width:75px;'} blank percent
      %a{'href':"{% url 'loggit_domain_alarm' %}"}
        %span#count.badge.badge-important{'style':'position:fixed; right:10px; top:370px;width:30px;'} alarm

    %legend {% trans 'alarm'%}
      
    %input.input-medium.starttime{'type':'text', 'id':'starttime', 'name':'starttime', 'value':'={starttime}'}
    To
    %input.input-medium.endtime{'type':'text', 'id':'endtime','name':'endtime', 'value':'={endtime}'}
      
    %input.btn{'type':'button' ,'value':"{% trans 'search' %}", 'onclick':'reload_height_chart();'}
    .tab-pane{'style':'min-height:400px;width:80%;'}
      #alarm_content
    - compress js
      %script{'type':'text/coffeescript'}
        $ ->
          $('.starttime').datepicker({format:'yyyy-mm-dd'})
          $('.endtime').datepicker({format:'yyyy-mm-dd'})
  - block mcs
    

    
          

