- extends 'loggit/body.haml'

- load url from future
- load i18n
- load compress

- block main

  - block mheader
    .loading
    .here{'style':'bottom:1px; position:fixed; right:10px;'}
      %p
        %span#total.badge.badge-info 0
        %span#count.badge.badge-success 0
     %p
      %a{'href':"{% url 'loggit_domain_namelist_index' %}?namelist=B"}
        %span#blist.badge.badge-inverse{'style':'position:fixed; right:10px; top:120px; width:30px;'} black
      %a{'href':"{% url 'loggit_domain_namelist_index' %}?namelist=W"}
        %span#count.badge.badge-warning{'style':'position:fixed; right:10px; top:145px;width:30px;'} white
      %a{'href':"{% url 'loggit_domain_namelist_index' %}?namelist=G"}
        %span#count.badge{'style':'position:fixed; right:10px; top:170px;width:30px;'} grap
      %a{'href':"{% url 'loggit_domain_namelist_index' %}?namelist=-"}
        %span#count.badge.badge-success{'style':'position:fixed; right:10px; top:195px;width:30px;'} blank
      %a{'href':"{% url 'loggit_domain_namelistpercent_index' %}?namelist=B"}
        %span#blist.badge.badge-inverse{'style':'position:fixed; right:10px; top:250px; width:75px;'} black percent
      %a{'href':"{% url 'loggit_domain_namelistpercent_index' %}?namelist=W"}
        %span#count.badge.badge-warning{'style':'position:fixed; right:10px; top:275px;width:75px;'} white percent
      %a{'href':"{% url 'loggit_domain_namelistpercent_index' %}?namelist=G"}
        %span#count.badge{'style':'position:fixed; right:10px; top:300px;width:75px;'} grap percent
      %a{'href':"{% url 'loggit_domain_namelistpercent_index' %}?namelist=-"}
        %span#count.badge.badge-success{'style':'position:fixed; right:10px; top:325px;width:75px;'} blank percent
        
    %form.form-inline{'method':'post', 'action':""}
      {% csrf_token %}
      %legend {% trans 'today'%}
        = day
      %input.input{'type':'hidden','value':'{{namelist}}','name':'namelist'}
      %input.input-medium.starttime{'type':'text', 'name':'starttime', 'value':'={starttime}'}
      To
      %input.input-medium.endtime{'type':'text', 'name':'endtime', 'value':'={endtime}'}
      
      %input.btn{'type':'submit' ,'value':"{% trans 'search' %}"}

    #table
      %table.table.table-striped
        %thead
          %tr
            %th{'width':10} #
            %th {% trans 'domain' %}
            %th {% trans 'count' %}
            %th {% trans 'isp' %}
            %th {% trans 'province' %}
            %th {% trans 'namelist' %}
            %th {% trans 'date' %}
            %th {% trans 'precent' %}
        %tbody

  - block mcs
    - compress js
      %script{'type':'text/coffeescript', 'src':'={ STATIC_URL }cs/newdomain.coffee'}

    - compress js
      %script{'type':'text/coffeescript'}
        $ ->
          $('.starttime').datepicker({format:'yyyy-mm-dd'})
          $('.endtime').datepicker({format:'yyyy-mm-dd'})

          window.loading = $('.loading').spin()

          table_e = $('.table > tbody:last')
          total_e = $('#total')
          count_e = $('#count')

          newdomain = new Domain '{% url "loggit_api_domain_name_list_percent" %}', '{{ starttime }}', '{{ endtime }}', '{{namelist}}','namelistpercent'
          newdomain.load_data(window.loading, table_e, total_e, count_e)

          $(window).scroll () ->
            if $(window).scrollTop() == $(document).height() - $(window).height() and window.total != window.count
              window.loading.show()
              newdomain.load_data(window.loading, table_e, total_e, count_e)

