- extends 'loggit/body.haml'

- load url from future
- load i18n
- load compress

- block main

  - block mheader
    .loading
    %div{'style':'bottom:1px; position:fixed; right:10px;'}
      %p
        %span#total.badge.badge-info 0
        %span#count.badge.badge-success 0
        %a.btn.btn-mini.btn-info{'href':'{% url "loggit_newdomain_filter_index" %}?day={{ starttime }}'}
          %i.icon-filter.icon-white
          {% trans 'filter' %}

    %form.form-inline{'method':'GET', 'action':"{% url 'loggit_newdomain_show' %}"}
      %legend {% trans 'newdomain'%}
        -#= day
      %input.input-medium.starttime{'type':'text', 'name':'starttime', 'value':'={starttime}'}
      To
      %input.input-medium.endtime{'type':'text', 'name':'endtime', 'value':'={endtime}'}
      %button.btn{'type':'submit'}
        %i.icon-search
        {% trans 'search' %}

      %a.btn.btn-success{'href':'{% url "loggit_newdomain_analysis_index" %}?day={{ starttime }}'}
        %i.icon-th.icon-white
        {% trans 'analysis' %}

      -#%a.btn.btn-info{'href':'{% url "loggit_newdomain_filter_index" %}?day={{ starttime }}'}
        -#%i.icon-filter.icon-white
        -#{% trans 'filter' %}

    #table
      %table.table.table-striped
        %thead
          %tr
            %th{'width':10} #
            %th {% trans 'domain' %}
        %tbody

  - block mcs
    - compress js
      %script{'type':'text/coffeescript', 'src':'={ STATIC_URL }cs/newdomain.coffee'}

    - compress js
      %script{'type':'text/coffeescript'}
        $ ->
          $('.starttime').datepicker({format:'yyyy-mm-dd'})
          $('.endtime').datepicker({format:'yyyy-mm-dd'})

          window.loading = $('.loading').spin()
          table_e = $('.table > tbody:last')
          total_e = $('#total')
          count_e = $('#count')

          newdomain = new NewDomain '{% url "loggit_api_newdomain_index" %}', '{{ starttime }}', '{{ endtime }}'
          newdomain.load_data(window.loading, table_e, total_e, count_e)

          $(window).scroll () ->
            if $(window).scrollTop() == $(document).height() - $(window).height() and window.total != window.count
              window.loading.show()
              newdomain.load_data(window.loading, table_e, total_e, count_e)

